@import url('https://fonts.googleapis.com/css2?family=Inter&family=The+Nautigal:wght@700&display=swap');

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}
body a{
    text-decoration: none;
    color:#fff;
}
nav {
    background: #6236FF;
    color: #fff;
    padding: 15px 0;
}
#manu-btn{
    background: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
}
.logo {
    text-align: center;
    padding: 10px 0;
}
.nav-right {
    display: flex;
    justify-content: flex-end;
}
.profile-icon,
.noti-icon {
    position: relative;
}
.noti-icon button {
    border: navajowhite;
    background: no-repeat;
    color: #fff;
}
.profile-icon img {
    height: 40px;
    border-radius: 10px;
}
.noti-icon i {
    font-size: 34px;
}
.noti-icon span,
.profile-icon span {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    padding: 0px 7px;
    border-radius: 50%;
}
.profile-icon {
    margin: 10px 5px 0 10px;
}
.profile-icon span{
    top: -10px;
    right: -5px;
}
.balance-wrap {
    background: #1e1838;
    color: #fff;
    border-radius: 20px;
    position: relative;
    padding: 25px;
    margin-top: 92px;
}
/* .balance-wrap:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    height: 50%;
    width: 200%;
    background: #6236FF;
    z-index: -1;
} */
.total-display-blance p {
    margin-bottom: 5px;
}

.total-display-blance h1 {
    font-weight: bold;
}
.total-dilplay-card {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 1px solid #3b294d;
}

.add-blance-btn {
    padding: 33px 20px;
    border: none;
    border-radius: 9px;
    background: #342375;
}
button.add-blance-btn i {
    font-size: 50px;
    color: #8f82a5;
}
.add-blance-btn {
    padding: 0 5px;
    border: none;
    border-radius: 10px;
    background: #342375;
}
.total-display-option .col-3 div {
    background: #FF396F;
    height: 55px;
    text-align: center;
    font-size: 25px;
    padding: 6px 0;
    border-radius: 10px;
}

.total-display-option {
    margin-top: 20px;
}
.total-display-option span {
    font-size: 12px;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.total-display-option .col-3 {
    padding-left: 10px;
}
.total-display-option .col-3 .send{
    background-color: #6236FF;
}
.total-display-option .col-3 .cards{
    background-color: #1DCC70;
}

.total-display-option .col-3 .exch{
    background-color: #FFB400;
}
.min-dis {
    background: #161129;
    padding: 15px 20px;
    color: #fff;
    margin-top: 22px;
    border-radius: 10px;
}
.min-dis h3 {
    margin: 0;
    margin-top: 5px;
}
.min-dis span {
    color: #8f82a5;
}
.min-dis h3 {
    font-weight: bold;
}
.min-dis.imcome h3 {
    color: #1DCC70;
}
.min-dis.expe h3 {
    color: #FF396F;
}

.section-title {
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.section-title a {
    color: #8f82a5;
    text-decoration: none;
    margin-right: 5px;
}
section{
    padding-top: 30px;
}
.tarans-item {
    background: #161129;
    color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    margin-top: 10px;
}

.taras-content img {
    height: 60px;
    border-radius: 10px;
    margin-right: 10px;
}
.taras-content {
    display: flex;
}
.taras-content h3 {
    margin: 0;
}
.taras-content div {
    margin-top: 5px;
}
span.decrement-value {
    font-size: 20px;
    font-weight: bold;
    color: #FF396F;
}
.card-item {
    background: #778698;
    padding: 20px;
    border-radius: 10px;
    margin: 15px 0;
}
.card-item {
    padding: 20px;
    border-radius: 10px;
    margin: 15px 10px;
    display: flex !important;
    justify-content: space-between;
    color: #fff;
}
.card-item span {
    opacity: 0.5;
    margin-bottom: 5px;
    display: block;
}
.card-date {
    display: flex;
    justify-content: space-between;
}
.card-item h1,
card-item h2,
card-item h3{
    font-weight: bold;
}
.card-item h2 {
    font-size: 22px;
}
.card-item h3 {
    font-size: 18px;
}
.card-item.card-1{
    background: #6c7886;
}
.card-item.card-2{
    background: #552FDE;
}
.card-item.card-3{
    background: #1E1E1E;
}
.author {
    background: #161129;
    color: #fff;
    padding: 11px 11px;
    border-radius: 10px;
    margin: 10px 4px;
    text-align: center;
}

.author img {
    height: 65px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
.author span {
    display: block;
    padding-top: 3px;
    font-size: 12px;
}
.bill-card {
    border-radius: 12px;
    background: #161129;
    color: #fff;
    text-align: center;
    padding: 25px;
    margin: 15px 5px;
}

.bill-card ul {
    list-style: none;
    padding: 5px 0 15px 0;
    margin: 0;
}
.bill-card img {
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.bill-card h2 {
    margin: 0;
    padding-top: 10px;
    font-weight: bold;
    font-size: 30px;
}
.bill-card button {
    border: navajowhite;
    background: #6236FF;
    color: #fff;
    font-weight: bold;
    width: 100%;
    padding: 5px 0;
    border-radius: 10px;
}

.prog{
    background: #161129;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.prog-top {
    display: flex;
    justify-content: space-between;
}
.prog-top h2 {
    margin: 0;
    font-weight: bold;
}

.prog-top span {
    color: #9a6cc8;
    padding: 0px 0 12px 0;
    display: block;
}
.progress-bar {
    background: #6236FF;
}
.progress {
    background-color: #372648;
    height: 20px;
    border-radius: 10px;
}
.news-card {
    background: #161129;
    color: #fff;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px 5px;
}

.news-card img {
    height: 150px;
    width: 100%;
}

.news-card p {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}
footer {
    background: #161129;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

footer p {
    margin: 0;
    font-size: 15px;
}

footer span {
    color: #906eb2;
    font-size: 15px;
}

.manu-page {
    padding: 0;
    background-color: #161129;
}


.manu-top-left img {
    height: 45px;
    border-radius: 10px;
    margin-right: 10px;
}

.manu-top-left {display: flex;align-items: center;color: #fff;}

.manu-top {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.manu-top-left h2 {
    margin: 0;
    font-size: 20px;
}

.manu-top-left p {
    color: #8555d6;
    font-size: 15px;
    margin: 0;
}
button#x-btn {
    border: none;
    background: transparent;
    color: #8555d6;
    font-size: 35px;
}
.manu-display {
    color: #fff;
    padding: 45px 15px;
    background: #6236FF;
}


.manu-display-option .col-3 div {
    background: #4426B2;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    padding: 10px 0;
    font-size: 19px;
    margin-left: auto;
    width: 50px;
    margin-right: auto;
}

.manu-display-option .col-3 {
    padding: 0;
}
.manu-display-option span {
    display: block;
    text-align: center;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.637);
}

.total-display-blance p {
    color: #f6f2f2;
    font-size: 20px;
}
.manu-list-wrap {
    color: #fff;
    margin-top: 20px;
}

.manu-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    cursor: pointer;
    border-top: 1px solid #fff0;
    border-bottom: 1px solid #fff0;
}
.manu-list-item:hover {
    border-bottom: 1px solid #ffffff69;
    border-top: 1px solid #ffffff69;
    background: #322661;
}

.manu-list-item-left {
    display: flex;
    align-items: center;
}

.manu-list-item-left .icon {
    font-size: 25px;
    background: #6236FF;
    padding: 5px 10px;
    border-radius: 50%;
    position: relative;
    height: 50px;
    width: 50px;
}

.manu-list-item-left p {
    margin: 0;
    padding: 12px 0;
    margin-left: 15px;
}
.manu-list-item-left .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.manu-list-item-right span {
    margin-right: 10px;
    background: #6236FF;
    padding: 5px;
    border-radius: 50%;
}
.list-title p {
    color: #ffffff7d;
}
.side-manu-wrap.offcanvas{
    background: rgba(0, 0, 0, 0.342);
}
.side-manu-wrap.offcanvas-start{
    width: 80%;
}
.manu-list-item-left img {
    height: 50px;
    border-radius: 50%;
}
.send-money-list {
    padding: 0 0 20px 0px;
}

.balance-section {
    position: relative;
}

.balance-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: #6236FF;
    z-index: -1;
}



/* login panel */

.login-wrap{
    background-color: #000000ee;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: .4s;
    
}
.login-body{
    width: 80%;
    height: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #6236FF;
    border-radius: 10px;
    color: #fff;
}
.login-body form {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.login-body form input{
    margin: 4px 0;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    width: 80%;
    max-width: 400px;
}
.login-body form button{
    margin-top: 5px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1E1838;
    box-shadow: .5px .5px 6px #fff;
    color: #fff;
}
.logSuccAdd{
    left: -100%;
}




/* ===Notifi Css By Ruma Akter==== */

header.fixed-top {
    border-bottom: 1px solid #ffffff36;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-content .top-left i{
    font-size: 26px;
    color:#ffffff;
}
.header-content .top-title h2{
    margin-top: 10px;
}
.header-content .top-right i{
    font-size: 26px;
    color: #6236FF;
}
.notifi-item {
    border-bottom: 1px solid #ffffff36;
}
.notifi-item:hover {
    background: #473a7e;
}
.notifi-item .text{
    display: flex;
    justify-content: space-between;
}

.down-arrow a{
    background:  #6236FF;
    padding: 10px;
    height: 50px;
    width: 50px;
    font-size: 21px;
    border-radius: 50%;
    color:#fff;
    position: relative;
    display: block;
}
.text .pt{
    padding: 10px 20px;
}
.text .pt span{
    color:rgb(141, 136, 136);
}
.right-side .bi-dot{
    color:#6236FF;
    font-size: 60px;
    position: relative;
    top: -4px;
}
.right-side span i{
    color:#8372e4;
    font-size: 22px;
}

.list-item-left {
    display: flex;
    align-items: center;
}
.right-side {
    display: flex;
    align-items: center;
}

.star {
    padding: 3px 10px;
    background: #6236FF;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 8px;
}
.down-arrow a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text .down-arrow .color-1 {
    background: #1DCC70;
}
.text .down-arrow .color-2 {
    background: #FF396F;
}
.text .down-arrow .color-3 {
    background: #FFB400;
}



/* nitifi motifi */
.notifi .offcanvas-header{
    background: #161129;
}
.notifi .offcanvas {
    height: 100vh;
}
.notifi .offcanvas-body{
    background-color: #161129;
    padding: 0;
}

/* profile offcamvas */
.profile-panel .offcanvas-header {
    background: #161129;
}
.profile-panel .offcanvas-body{
    background-color: #000;
}
.profile-panel .offcanvas-end{
    width: 100%;
}
.profile-box-wrap {
    margin: 15px 0;
    position: relative;
}
.upload-profil {
    position: absolute;
    left: 57%;
    bottom: 0;
    background: #6236FF;
    padding: 10px 15px;
    border-radius: 50%;
}
.upload-profil i {
    font-size: 20px;
}
.profile-img {
    height: 150px;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}
.profile-img img {
    height: 100%;
}
.accounts-box-wrap h3 {
    color: #5c4d96;
    font-size: 22px;
}
.account-single-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #161129;
    padding: 20px 25px;
    border-radius: 10px;
    margin: 15px 0;
    cursor: pointer;
}
.aco-person h2 {
    font-size: 25px;
}
.account-single-item:hover {
    background: #493b81;
}
.aco-person-img img {
    height: 100%;
}

.aco-person-img {
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}
/* 
font-family: 'Inter', sans-serif;
font-family: 'The Nautigal', cursive; 
*/